PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pos

JWT_ACCESS_SECRET=change-me-access-min-32-chars-long-secret
JWT_REFRESH_SECRET=change-me-refresh-min-32-chars-long-secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
